<h1>Students</h1>

<table>
<% @students.each do |student| %>
	<tr>
		<td><%= student.email %></td><td><%= link_to student.full_name, student %></td><td><%= student.school %></td><td><%= student.about_me %></td><td><%= link_to "Edit", edit_student_path(student) %></td>
	</tr>
<% end %>
</table>