<div class="container">
	<div id="content">
    	<h2>All Organizations</h2>
        
		<%= form_tag cbos_path, :method => :get do %>
			<%= select_tag "category", options_from_collection_for_select(@categories, "name", "name", params[:category]), :include_blank => "All Categories" %>
			<%= submit_tag "Filter", :name => nil%>
		<% end %>
		
        <div class="push"></div>
        
		<% @cbos.each do |cbo| %>
        <div class="box">
            <a href="<%= cbo_path(cbo) %>">
            	<img src="http://www.bnntv.org/sites/default/files/what-is-bnn.jpg">
            	<div class="box-footer">
                	<h3><%= cbo.name %></h3>
                    <h4>Learn More</h4>
                </div>
            </a>
        </div>
		<% end %>



        
        <div class="push"></div>
        



<br /><br />
    </div>


</div>



