<!DOCTYPE HTML>
<html>
<head>
  <title>The College Project</title>

	<style type="text/css" media="screen">
	     .slides_container {
	         width:570px;
	         height:270px;
	     }
	     .slides_container div {
	         width:570px;
	         height:270px;
	         display:block;
	     }
  </style>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= csrf_meta_tags %>


  <!-- Load Karla Google web font -->
  <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>


	<!-- for slider for cbos !-->


	
	<!-- end cbo slider !-->

</head>

<!-- 
onload refers to the Javascript function that loads Google maps from googlemaps.js 
Interior pages should have a normal <body>
-->
<body onload="initializeMap()">
	<%= render 'layouts/header' %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
  <%= yield %>

	<br />
  <%= render 'layouts/footer' %>
</body>

<!-- Loads jquery from Google repository -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<!-- The following two scripts are needed only on the map page -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-ycaSbihA8ZcyIlEaUNsKtHBejgGhRSY&sensor=true" type="text/javascript"></script>

</html>
