<!DOCTYPE HTML>
<html>
<head>
  <title>The College Project</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->

  <!-- Load Karla Google web font -->
  <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
</head>

<!-- 
onload refers to the Javascript function that loads Google maps from googlemaps.js 
Interior pages should have a normal <body>
-->
<body onload="initialize()">
	<%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>

<!-- Loads jquery from Google repository -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<!-- The following two scripts are needed only on the map page -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-ycaSbihA8ZcyIlEaUNsKtHBejgGhRSY&sensor=true" type="text/javascript"></script>

</html>
